a.zero:link { color: WHITE; text-decoration:none; }
a.zero:visited { color: WHITE; }
a.zero:hover { color: AQUA; }
a.zero:visited:hover { color: AQUA; }
a.one:link { color: MEDIUMBLUE; text-decoration:none; }
a.one:visited { color: MEDIUMBLUE; }
a.one:hover { color: AQUA; }
a.one:visited:hover { color: AQUA; }
a.two:link { color: BLACK; text-decoration:none; }
a.two:visited { color: BLACK; }
a.two:hover { color: AQUA; }
a.two:visited:hover { color: AQUA; }
a.three:link { color: CHOCOLATE; text-decoration:underline; text-decoration-style:dotted; text-decoration-thickness:1px}
a.three:visited { color: CHOCOLATE; }
a.three:hover { color: AQUA; }
a.three:visited:hover { color: AQUA; }
a.four:link { color: BLACK; text-decoration:underline; text-decoration-style:dotted; text-decoration-thickness:1px}
a.four:visited { color: BLACK; }
a.four:hover { color: AQUA; }
a.four:visited:hover { color: AQUA; }
